[Unit]
Description=Keep your raspberry pi cool using a fan

[Service]
Type=simple
StandardOutput=journal
ExecStart=/usr/share/therpi/therpi.sh

[Install]
WantedBy=default.target
